/* Style cho phân trang */
#pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
  }
  
  #pagination button {
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    font-size: 14px;
    color: #2c3e50;
  }
  
  #pagination button:disabled {
    background-color: #f0f0f0;
    cursor: not-allowed;
    color: #999;
  }
  
  #pagination button:hover:not(:disabled) {
    background-color: #e0e0e0;
  }
  
  #pagination .active button {
    background-color: #4288ce;
    color: white;
    border-color: #4288ce;
  }
  
  #pagination .active button:hover {
    background-color: #34495e;
  }